.top-asks {
    width: 50%;
    display: inline-block;
}
.top-asks h4 {
    color: #f6465d;
    text-align: center;
    font-size: 22px;
    margin-bottom: 5px;
    margin-top: 0px;
}
table {
    background-color: #292d35;
    border: 1px solid #41454C;
    border-right: 0;
    width: 90%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}
td, th{
    width: 33.33%;
    border-right: 1px solid #41454C;
    text-align: center;
    margin: 0;
    padding: 5px;
}
th {
    border-bottom: 1px solid #41454C;
    padding: 10px;
}
.top-asks td:first-child, .top-asks th:first-child {
    color: #f6465d;
}

@media only screen and (max-width: 1200px) {
    .top-asks {
        width: 100%;
    }
}